@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

// Primary Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

//Neutral Colors
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$font-stack: 'Red Hat Display', sans-serif;

@mixin pointer {
  cursor: pointer;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  font-size: 14px;
}
body {
  background-color: $pale-blue;
}

.component-background {
  z-index: -1;
  position: absolute;
  width: 100%;
}

.component-container {
  width: 100%;
  height: 100vh;
  @include flex(row, center, center);
  padding: 20px;

  .order-component {
    $boder-radius: 24px;
    max-width: 452px;
    min-width: 328px;
    max-height: 696px;
    @include flex($direction: column);
    border-radius: $boder-radius;
    background-color: $very-pale-blue;
    overflow: hidden;
    &__info {
      @include flex(column, space-between, center);
      padding: 48px 12%;
      background-color: white;
      .info__title {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 24px;
        color: $dark-blue;
      }

      .info__description {
        text-align: center;
        width: 92%;
        color: $desaturated-blue;
      }

      .info__plan-description {
        @include flex(row, space-between, center);
        gap: 8px;
        width: 100%;
        background-color: $very-pale-blue;
        border-radius: calc($boder-radius/2);
        padding: 20px;
        margin: 20px;
        .plan-description {
          @include flex(row, center, center);
          gap: 20px;
          &__plan-info {
            @include flex(column, space-between, center);
            height: 44px;
            .plan-info__type {
              font-weight: 900;
              color: $dark-blue;
            }
            .plan-info__price {
              color: $desaturated-blue;
            }
          }
          &__return {
            font-weight: 900;
            color: $bright-blue;
            @include pointer();
          }
        }
      }
      @mixin button {
        @include pointer();
        border: none;
        outline: none;
        background: none;
        font-weight: 900;
      }
      .info__proceed-payment {
        @include button();
        background-color: $bright-blue;
        width: 100%;
        height: 48px;
        border-radius: calc($boder-radius/2);
        color: white;
        margin-bottom: 36px;
        box-shadow: 0 16px 24px rgba($bright-blue, 0.2);
        &:hover {
          opacity: 50%;
        }
      }
      .info__cancel {
        @include button();
        color: $desaturated-blue;
        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.attribution {
  width: 100%;
  position: fixed;
  bottom: 4px;
  font-size: 10px;
  text-align: center;
  a {
    font-size: 10px;
    color: $dark-blue;
    text-decoration: none;
    font-weight: bold;
  }
}
